.App {
  text-align: center;
}


.navbar{
  
  padding: 10px 0;
  border-bottom: 2px solid black;
  margin-bottom: 20 px;

}
nav {
  display: flex;
  justify-content: space-around;  /* Space out the links evenly */
  align-items: center;
  
}



